.Promo {
  margin: 3%;
  @include d-flex(column, nowrap, center, center);
  h2 {
    text-align: center;
    margin-top: 20px;
    font-size: $textLg;
  }
  .slider-frame {
    width: 800px;
    height: auto;
    margin: 50px;
    overflow: hidden;
    ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: slide 15s infinite alternate ease-in-out;
      -webkit-animation: slide 15s infinite alternate ease-in-out;
      li {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -110%;
  }
  45% {
    margin-left: -110%;
  }

  50% {
    margin-left: -210%;
  }
  70% {
    margin-left: -210%;
  }

  75% {
    margin-left: -310%;
  }
  100% {
    margin-left: -310%;
  }
}
