<!DOCTYPE html>
<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- meta para seo  -->
    <meta
      name="description"
      content="Uy lamentamos decirte que no hemos podido encontrar la pagina que buscas , revisa muy bien la dirección o definitivamente debes de comunicarte con nosotros para verificar el problema"
    />
    <meta
      name="keywords"
      content="Error,no encontrado,404,duda,pregunta,sugerencia,usuarios, problemas"
    />
    <meta name="author" content="Esteban Ardila Ledesma" />
    <meta name="copyright" content="Esteban Ardila Ledesma" />
    <!-- termina metas para seo  -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../img/chef.ico" />
    <title>Menu Pastas Chef Burguer</title>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Incia Navbar -->
    <nav>
      <label for="check" class="checkbtn">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </label>
      <input type="checkbox" id="check" />
      <a href="../index.html"
        ><label class="logo">Chef <span>Burguer</span> </label></a
      >
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="burguers.html">Hamburguesas</a></li>
        <li><a href="ensaladas.html">Ensaladas</a></li>
      </ul>
    </nav>
    <!-- Termina navbar  -->

    <!-- Empieza seccion de 404 -->
    <main class="conten">
      <div class="conten__img">
        <img
          src="../img/burguer.webp"
          alt="Hamburguesa no encontrada por favor sacame de aquí"
        />
        <h1 class="conten__number">404</h1>
      </div>
      <div class="conten__Description">
        <p class="conten__error">
          ¡Ou Ou! No encontramos la comida que deseas o algo salió mal
        </p>
        <a href="../index.html" class="btn-404">Regresar al menú principal</a>
      </div>
    </main>

    <!-- Termina seccion de 404  -->

    <!-- Comienza seccion footer  -->
    <footer class="SecFooter">
      <div>
        <h3>Síguenos en nuestras redes</h3>
      </div>
      <div class="Iconos">
        <a href="https://www.facebook.com" rel="nofollow"
          ><img src="../img/facebook.webp" alt="Red social facebook"
        /></a>

        <a href="https://www.instagram.com" rel="nofollow"
          ><img src="../img/instagram.webp" alt="Red social Instagram"
        /></a>

        <a href="https://twitter.com/" rel="nofollow"
          ><img src="../img/twitter.webp" alt="Red social Twitter"
        /></a>
      </div>
    </footer>
    <!-- Termina Seccion footer  -->
  </body>
</html>
