<!DOCTYPE html>
<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- meta para seo  -->
    <meta
      name="description"
      content="Prueba nuestras mejoras hamburguesas, tenemos una gran variedad para todos los días y todos los públicos, de diferentes culturas  con diferentes ingredientes"
    />
    <meta
      name="keywords"
      content="sabores,quesos,gouda,mzarella,dip,tres quesos, lechuga,tomate,ensalada tropical , caribeña,maricos , combo familiar,ensalasa tropical,carne a la plancha ,costillas, papas"
    />
    <meta name="author" content="Esteban Ardila Ledesma" />
    <meta name="copyright" content="Esteban Ardila Ledesma" />
    <!-- termina metas para seo  -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../img/chef.ico" />
    <title>
      Menu Hamburguesas Chef Burguer las más deliciosas y con los ingredientes
      más frescos del mercado
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Incia Navbar -->
    <nav>
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" id="check" />
      <label class="logo">Chef <span>Burguer</span> </label>
      <ul>
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="pastas.html">Pastas</a></li>
        <li><a href="ensaladas.html">Ensaladas</a></li>
      </ul>
    </nav>
    <!-- Termina navbar  -->
    <section class="textoproductos">
      <h1>Prueba toda nuestra variedad de hamburguesas</h1>
    </section>
    <!-- Empieza seccion de cartas  -->
    <section class="contendor-cards">
      <div class="content">
        <img
          src="../img/burguer1.webp"
          alt="Hamburguesa clásica de la casa con carne 100% artesanal , tocineta , quesillo , queso mozzarella salsa  sour crean  , ensalada tropical y una porción de papas"
        />
        <h2 class="TitulosCards">De la casa</h2>
        <p>
          Nuestra haburguesa de la casa preferida por toda nuestra fanaticada
        </p>
        <h3>$15.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer2.webp"
          alt="Para los americanos de E.U. y los amantes de la cocina paisa llega la hamburguesa Medayork, es un tipo de sándwich, con queso americano, cebollas caramelizadas, doble porción de tocineta en salsa BBQ y miel lechuga, tomate verde y una porción de papas."
        />
        <h2 class="TitulosCards">MedaYork</h2>
        <p>Nuestra hamburguesa paisa con lo mejor de los dos mundos</p>
        <h3>$23.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer3.webp"
          alt="Hamburguesa básica con ripio de papas , carne , queso mozzarella y una porción de papas a la francesa con salsa de la casa y piña"
        />
        <h2 class="TitulosCards">Clasica</h2>
        <p>La hamburguesa de todos los días y de todos</p>
        <h3>$12.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer4.webp"
          alt="Deliciosa hamburguesa con salsa de tres quesos y un Deep de queso crema y gouda   una porción de tocineta y Carne artesanal , con papas a la francesa y una gaseosa personal de manzana"
        />
        <h2 class="TitulosCards">Cream de la cream</h2>
        <p>Hamburguesa con salsa de queso fundido , crema y un Deep de queso</p>
        <h3>$25.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer5.webp"
          alt="Deliciosa hamburguesa con salsa Jack Daniel   con BBQ , cebollas salteadas y tocineta triturada , trozos de salchicha ahumada y queso mozzarella  y una Proción de queso amarillo"
        />
        <h2 class="TitulosCards">Hamburguesa Jack Daniel</h2>
        <p>Hamburguesa con salsa Jack Daniel BBQ y cebollas caramelizadas</p>
        <h3>$29.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer6.webp"
          alt="Hamburguesa saludable con carne de lentejas , y con una   deliciosa ensalada con zuquini, calabacín y frutos tropicales, acompañada de unas papas a la francesa con salsa de cilantro y queso"
        />
        <h2 class="TitulosCards">La hamburguesa light</h2>
        <p>
          Deliciosa hamburguesa con ensalada con zuquini, calabacín y frutos
          tropicales
        </p>
        <h3>$18.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer7.webp"
          alt="Hamburguesa con doble carne , queso tocineta y una Proción de papas a la francesa, ensalada ripio de papas y salsas de la casa"
        />
        <h2 class="TitulosCards">Doble</h2>
        <p>Hamburguesa doble carne y queso</p>
        <h3>$20.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer8.webp"
          alt="Hamburguesa con queso tocineta ripio de papas y salas de la casa"
        />
        <h2 class="TitulosCards">Hamburguesa sencilla</h2>
        <p>
          Sencillita pero con gracia , hamburguesa con ensalada carne queso y
          papas
        </p>
        <h3>$10.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer9.webp"
          alt="Deliciosa hamburguesa de la casa con un topin de carnes, quesos y  ensaladas tropicales, en chef búrguer es un placer para nosotros realizar este platillo en el que tratamos que cada bocado sea una explosión de sabor."
        />
        <h2 class="TitulosCards">Hamburguesa finoli</h2>
        <p>
          Deliciosa hamburguesa de la casa con un topin de carnes, quesos y
          ensaladas tropicales
        </p>
        <h3>$10.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer10.webp"
          alt="Hamburguesa con todo el estilo y sabor costero, con un leve sabor a ajos finas hierbas y sal marina para marinar , acompáñala con el dip  de atún y papas que desees"
        />
        <h2 class="TitulosCards">Hamburguesa caribeña y papas</h2>
        <p>
          Deliciosa hamburguesa con dip de atún, cebollas caramelizadas y una
          ensalada tropical con acompañantes a su elección
        </p>
        <h3>$10.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/burguer11.webp"
          alt="Delicioso combo de tres hamburguesas de la casa , porción familiar de papas a la francesa con pollo desmechado bañado en salsa Jack Daniels , carne  salteada en finar hierbas y salchicha ahumada "
        />
        <h2 class="TitulosCards">Hamburguesa para compartir</h2>
        <p>
          Delicioso combo de 3 hamburguesas mas una caja de papas familiar y una
          gaseosa litro y cuarto uva
        </p>
        <h3>$75.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/Burguer12.webp"
          alt="Delicioso combo de 8 hamburguesas de la casa , porción familiar de papas a la francesa con pollo desmechado bañado en salsa Jack Daniels , carne  salteada en finar hierbas y salchicha ahumada mas una adición de costillas premium y una gaseosa mega "
        />
        <h2 class="TitulosCards">Hamburguesas para todos</h2>
        <p>
          Delicioso combo de 8 hamburguesas mas dos cajas de papas familiar y
          una gaseosa mega de cualquier preferencia
        </p>
        <h3>$120.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>
    </section>
    <!-- Termina seccion de  cartas  -->

    <!-- Comienza seccion footer  -->
    <footer class="SecFooter">
      <div>
        <h3>Síguenos en nuestras redes</h3>
      </div>
      <div class="Iconos">
        <a href="https://www.facebook.com" rel="nofollow"
          ><img src="../img/facebook.webp" alt="Red social facebook"
        /></a>

        <a href="https://www.instagram.com" rel="nofollow"
          ><img src="../img/instagram.webp" alt="Red social Instagram"
        /></a>

        <a href="https://twitter.com/" rel="nofollow"
          ><img src="../img/twitter.webp" alt="Red social Twitter"
        /></a>
      </div>
    </footer>
    <!-- Termina Seccion footer  -->
  </body>
</html>
