<!DOCTYPE html>
<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- meta para seo  -->
    <meta
      name="description"
      content="Quieres enviarnos un mensaje , tranquilo siempre estamos  aquí para escucharte y tomar en cuenta todos tus comentarios, que nos ayudan a mejorar nuestros procesos"
    />
    <meta
      name="keywords"
      content="mensaje,duda,pregunta,sugerencia,telefono,email,cuadro de texto, ubicación,mapa,medellín,email,comentarios,estamos para servirte"
    />
    <meta name="author" content="Esteban Ardila Ledesma" />
    <meta name="copyright" content="Esteban Ardila Ledesma" />
    <!-- termina metas para seo  -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../img/chef.ico" />
    <title>Mensaje para el</title>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Incia Navbar -->
    <nav>
      <label for="check" class="checkbtn">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </label>
      <input type="checkbox" id="check" />
      <a href="../index.html"
        ><label class="logo">Chef <span>Burguer</span> </label></a
      >
      <ul>
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="burguers.html">Hamburguesas</a></li>
        <li><a href="ensaladas.html">Ensaladas</a></li>
      </ul>
    </nav>
    <!-- Termina navbar  -->

    <!-- Empieza seccion de contacto  -->
    <main class="contact">
      <div class="content-contact">
        <h1>Contáctenos siempre trataremos de responderte</h1>
        <p>
          Chef es donde todos cabemos porque, aunque seamos diferentes, siempre
          hay algo que nos une.
        </p>
      </div>
      <div class="container-contacto">
        <div class="contact-Info">
          <div class="box">
            <div class="icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h2>Dirección</h2>
              <p>Cq. 76 #39-07, Medellín, Laureles, Medellín, Antioquia</p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h2>Telefono</h2>
              <p>3104480888</p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h2>Email</h2>
              <p>chefburger@gmail.com.co</p>
            </div>
          </div>
        </div>
        <div class="contactForm">
          <form action="">
            <h2>Enviar un mensaje</h2>
            <div class="inputBox">
              <input type="text" required="required" />
              <span>Nombre completo</span>
            </div>
            <div class="inputBox">
              <input type="text" required="required" />
              <span>Email</span>
            </div>
            <div class="inputBox">
              <textarea required="required"></textarea>
              <span>Ingresa el mensaje</span>
            </div>
            <div class="inputBox">
              <input type="submit" value="Enviar" />
            </div>
          </form>
        </div>
      </div>
    </main>
    <!-- Termina seccion de contacto  -->

    <!-- Comienza seccion footer  -->
    <footer class="SecFooter">
      <div>
        <h3>Síguenos en nuestras redes</h3>
      </div>
      <div class="Iconos">
        <a href="https://www.facebook.com" rel="nofollow"
          ><img src="../img/facebook.webp" alt="Red social facebook"
        /></a>

        <a href="https://www.instagram.com" rel="nofollow"
          ><img src="../img/instagram.webp" alt="Red social Instagram"
        /></a>

        <a href="https://twitter.com/" rel="nofollow"
          ><img src="../img/twitter.webp" alt="Red social Twitter"
        /></a>
      </div>
    </footer>
    <!-- Termina Seccion footer  -->
  </body>
</html>
