<!DOCTYPE html>
<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- meta para seo  -->
    <meta
      name="description"
      content="Las ensaladas que preparamos pertenecen a diferentes partes del mundo , pruébalas con todos sus sabores y texturas y colores"
    />
    <meta
      name="keywords"
      content="ensaladas,vegetales,siempre frescos, promociones, expertos , chefs, lechuga, carne,saludable, sin grasa, bajas calorias, chef, Chef Burguer , Bulgará ,culuras, trozos, apio , ajonjolí, zanahorias , frutas , uvas"
    />
    <meta name="author" content="Esteban Ardila Ledesma" />
    <meta name="copyright" content="Esteban Ardila Ledesma" />
    <!-- termina metas para seo  -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../img/chef.ico" />
    <title>Menu Ensaladas Chef Burguer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Incia Navbar -->
    <nav>
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" id="check" />
      <a href="../index.html"
        ><label class="logo">Chef <span>Burguer</span> </label></a
      >
      <ul>
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="burguers.html">Hamburguersas</a></li>
        <li><a href="pastas.html">Pastas</a></li>
      </ul>
    </nav>
    <!-- Termina navbar  -->
    <section class="textoproductos">
      <h1>Nuestras ensaladas estan preparadas con los mejores ingredientes</h1>
    </section>
    <!-- Empieza seccion de cartas  -->
    <section class="contendor-cards">
      <div class="content">
        <img
          src="../img/ensalada1.webp"
          alt="De la relación que los Balcanes mantienen con el Mediterráneo salen recetas que podrían ser muy nuestras, o muy griegas, o muy italianas,o muy paisas, como es esta shopska, frecuente en cualquier comida búlgara "
        />
        <h2 class="TitulosCards">Shopska búlgara</h2>
        <p>
          Ensalada con queso tomates frescos , trozos de apio ajonjolí y una
          guarnición de verduras
        </p>
        <h3>$28.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/ensalada2.webp"
          alt="Uno de los iconos de la restauración hotelera neoyorquina y hoy todo un símbolo del hotel, el Waldorf Astoria. Desde el otro lado del mundo hasta tu plato , realizada por nuestros mejores chefs"
        />
        <h2 class="TitulosCards">Ensalada Waldorf</h2>
        <p>Ensalada cremosa ,con nueces apio y laurel</p>
        <h3>$32.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/ensalada3.webp"
          alt="Es fresca, sabrosa y además tiene ese puntito crocante y nuestro toque secreto que le dan sus ingredientes principales, siendo muy agradable al paladar."
        />
        <h2 class="TitulosCards">Namasu de zanahoria</h2>
        <p>
          Namasu de zanahoria y nabos frescos sazonados con salsa negra y
          tomillo.
        </p>
        <h3>$25.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/ensalada4.webp"
          alt="El Mediterráneo nos sirve de ejemplo para irradiar frescura desde sus platos y en este caso hacemos una versión griega con todo nuestro estilo chef Burguer donde no falta el queso feta y la aceituna negra."
        />
        <h2 class="TitulosCards">Ensalada griega</h2>
        <p>
          Ensalada con las mas frescas uvas y trozo de queso feta para afinar
          todos los sabores
        </p>
        <h3>$24.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/ensalada5.webp"
          alt="El estilo provenzal de la ensalada niçoise y todo su sabor  viene cargado con esta nueva receta que tienen nuestros chefs"
        />
        <h2 class="TitulosCards">Niçoise</h2>
        <p>
          Anchoas en conserva bañadas con salsa de soya y condimentada con finas
          hierbas
        </p>
        <h3>$32.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/ensalada6.webp"
          alt="Es un icono de la frescura italiana que nuestros mejores chef traen a tu plato con el más fresco mozzarella y tomate."
        />
        <h2 class="TitulosCards">caprese de pasta</h2>
        <p>Es un icono de la frescura italiana al estilo ChefBurguer</p>
        <h3>$20.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/ensalada7.webp"
          alt=" La gran contribución hawaiana 'quién estuviera ahora en Hawai' es el famoso poke, popularizado en los últimos años como ejemplo de comida rápida pero sana  atodo el estilo ChefBurguer"
        />
        <h2 class="TitulosCards">Ensalada poke</h2>
        <p>Ensalada poke de atún y algas con aguacate</p>
        <h3>$25.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div class="content">
        <img
          src="../img/ensaladacard.webp"
          alt="Es una clásica receta de aprovechamiento, muy típica de la zona de Florencia, que a veces también se encuentra como panmolle. traida hasta tu plato por ChefBurguer"
        />
        <h2 class="TitulosCards">Panzanella italiana</h2>
        <p>Con adición de trozos de pan y finas hierbas para sazonar</p>
        <h3>$18.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>
    </section>
    <!-- Termina cartas  -->

    <!-- Comienza seccion footer  -->
    <footer class="SecFooter">
      <div>
        <h3>Síguenos en nuestras redes</h3>
      </div>
      <div class="Iconos">
        <a href="https://www.facebook.com" rel="nofollow"
          ><img src="../img/facebook.webp" alt="Red social facebook"
        /></a>

        <a href="https://www.instagram.com" rel="nofollow"
          ><img src="../img/instagram.webp" alt="Red social Instagram"
        /></a>

        <a href="https://twitter.com/" rel="nofollow"
          ><img src="../img/twitter.webp" alt="Red social Twitter"
        /></a>
      </div>
    </footer>
    <!-- Termina Seccion footer  -->
  </body>
</html>
