<!DOCTYPE html>
<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- meta para el seo  -->
    <meta
      name="description"
      content="Nuestras pastas son preparadas por nuestros mejores chef siempre preparadas con los ingredientes más frescos y con toda la sazón de la casa"
    />
    <meta
      name="keywords"
      content="pastas , salsas, quesos, especias , raíz, vegetales , tomates , griega , española , siliciana, chinos, soya ,salsa negra , camarones , nuevas recetas, chefs , chef burguer , expertos, caliente , frescos , verduras"
    />
    <meta name="author" content="Esteban Ardila Ledesma" />
    <meta name="copyright" content="Esteban Ardila Ledesma" />
    <!-- termina metas para seo  -->
    <link rel="stylesheet" href="../css/main.css" />
    <!-- Animatecss  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="icon" href="../img/chef.ico" />
    <title>Menu de las mejores pastas de la ciudad solo en Chef Burguer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Incia Navbar -->
    <nav>
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" id="check" />
      <a href="../index.html"
        ><label class="logo">Chef <span>Burguer</span> </label></a
      >
      <ul>
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="burguers.html">Hamburguesas</a></li>
        <li><a href="ensaladas.html">Ensaladas</a></li>
      </ul>
    </nav>
    <!-- Termina navbar  -->
    <section class="textoproductos">
      <h1 class="wow animate__animated animate__backInDown">
        Las mejores pastas con los mejores quesos y sabores
      </h1>
    </section>
    <!-- Empieza seccion de cartas  -->
    <section class="contendor-cards">
      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta1.webp"
          alt="Estas pastas a la carbonara con Thermomix se preparan con la receta tradicional sin nata y son una auténtica delicia. La textura de la salsa queda cremosa y con muy buen sabor al estilo Chef burger"
        />
        <h2 class="TitulosCards">Carbonara con Thermomix</h2>
        <p>
          Esta pasta se preparan con la receta tradicional de la casa y son una
          auténtica delicia.
        </p>
        <h3>$18.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta2.webp"
          alt="Con la pasta fetuccini Alfredo obtendrás un plato con queso realmente delicioso  muy tradicional de la cocina italiana"
        />
        <h2 class="TitulosCards">Fetuccini Alfredo</h2>
        <p>
          Obtendrás un plato de pasta con queso realmente irresistible y que se
          derrite en tu paladar
        </p>
        <h3>$15.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta3.webp"
          alt="Estos noodles o fideos chinos con gambas y verduras tienen un contraste de sabores y texturas fantástico. La clave de nuestros chefs está en cocinar las verduras lo justo para que queden al dente, todavía crujientes por dentro, y acompañar con un buen aliño asiático."
        />
        <h2 class="TitulosCards">Pasta china salteada</h2>
        <p>
          Chow mein de pollo y verduras con fideos chinos o noodles salteados
          con muy buena sazón
        </p>
        <h3>$25.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta4.webp"
          alt="Estos pappardelle a la amatriciana son una auténtica delicia y el plato queda de lo más atractivo gracias a la tremenda anchura de los pappardelle."
        />
        <h2 class="TitulosCards">Pappardelle a la amatriciana</h2>
        <p>
          pappardelle a la amatriciana son una auténtica delicia y el plato
          queda de lo más atractivo
        </p>
        <h3>$29.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta5.webp"
          alt="Estos tagliatelle a la carbonara siguiendo la receta tradicional italiana son una auténtica delicia y preferidos por muchos aquí en ChefBurguer. "
        />
        <h2 class="TitulosCards">Tagliatelle a la carbonara</h2>
        <p>
          Estos tagliatelle a la carbonara siguiendo la receta tradicional
          italiana son una auténtica delicia
        </p>
        <h3>$32.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta6.webp"
          alt="Estos rigatoni con salsa boloñesa son una auténtica delicia, un plato de pasta de lo más completo y rico. Los rigatoni son un tipo de pasta con forma de tubo similar a los macarrones y con estrías en su superficie, lo que los hace perfectos para ser tus pastas preferidas al mejor estilo ChefBurguer"
        />
        <h2 class="TitulosCards">Rigatoni con salsa boloñesa.</h2>
        <p>
          Estos rigatoni con salsa boloñesa son una auténtica delicia, un plato
          de pasta de lo más completo y nutritivo
        </p>
        <h3>$20.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta7.webp"
          alt="Los tortellinis de pasta fresca casera rellenos con carrilleras de cerdo en salsa son un platazo de auténtico… ¡escándalo! Para nosotros es un lujo  prepararte esta  pasta fresca en nuestra casa ChefBurger aunque también requiere su práctica , pero tranquilo , estas en muy buenas manos."
        />
        <h2 class="TitulosCards">Tortellinis</h2>
        <p>
          Estos tortellinis de pasta fresca casera rellenos con carrilleras de
          cerdo en salsa son un platazo autentico
        </p>
        <h3>$35.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta8.webp"
          alt="La caponata siciliana es una especie de pisto italiano en el que la berenjena es la protagonista y, como tenía en casa los ingredientes que suele llevar, me he decidido a prepararla para que sirva de acompañamiento para la pasta y ha sido todo un acierto. Combina verduras salteadas con tomate y además alcaparras y aceitunas que le dan un toque al estilo ChefBurger."
        />
        <h2 class="TitulosCards">Pasta con verduras</h2>
        <p>
          Pasta con verduras al estilo caponata siciliana con verduras salteadas
          y salsa bulgara
        </p>
        <h3>$14.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
        </ul>
        <button class="comprar-2"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta9.webp"
          alt="Esta receta de tallarines verdes con bistec es tradicional de Perú Se trata de una adaptación de la clásica pasta al pesto italiana, pero dándole un toque peruano utilizando nueces pecanas, queso fresco y el sofrito de cebolla y ajos."
        />
        <h2 class="TitulosCards">Tallarines verdes peruanos</h2>
        <p>
          Estos tallarines verdes con bistec es tradicional de Perú al mejor
          estilo de chef burguer
        </p>
        <h3>$15.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta10.webp"
          alt="Esta receta de mac and cheese es un platazo de pasta irresistible, sin duda alguna la que todo amante de la pasta y también de los quesos derretidos y gratinados debe probar. La clave del plato es una cremosa bechamel casera que va repleta de queso y que le da al plato una textura y sabor únicos propios del chef de la casa."
        />
        <h2 class="TitulosCards">Mac and cheese</h2>
        <p>
          La pasta mac and cheese es un platazoirresistible, sin duda alguna
          debes probarlo
        </p>
        <h3>$10.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta11.webp"
          alt="Estos espaguetis con pollo y bacon cremosos son buenísimos para los paladares exquisitos, ya que mientras se cuecen los espaguetis vamos elaborando el acompañamiento y la salsa con la más fina delicadeza. El pollo queda jugoso y el bacon le da un toque de sabor buenísimo, además la salsa queda cremosa y deliciosa."
        />
        <h2 class="TitulosCards">Con pollo y bacon cremosos</h2>
        <p>
          Esta pasta tiene jugosa hace que el bacon le de un toque de sabor
          buenísimo, debes de probarla
        </p>
        <h3>$25.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>

      <div
        class="content wow animate__animated animate__bounceIn animate__delay-1s"
      >
        <img
          src="../img/pasta12.webp"
          alt="Estos tallarines chinos fritos tres delicias  es un plato en el que se combinan de forma fantástica diversos sabores y texturas. Carnes, marisco, verduras y pasta se dan la mano y la clave está en cocinar cada cosa de forma ágil y solo el tiempo que necesita y aliñar con salsa de soja y salsa de ostras."
        />
        <h2 class="TitulosCards">Tallarines chinos fritos</h2>
        <p>
          Estos tallarines chinos fritos tres delicias son especialidades de la
          casa ya que combinan lo mejor de dos culturas
        </p>
        <h3>$40.000</h3>
        <ul>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="comprar-1"><a href="#">Agregar al carrito</a></button>
      </div>
    </section>
    <!-- Termina cartas  -->

    <!-- Comienza seccion footer  -->
    <footer class="SecFooter">
      <div>
        <h3>Síguenos en nuestras redes</h3>
      </div>
      <div class="Iconos">
        <a href="https://www.facebook.com" rel="nofollow"
          ><img src="../img/facebook.webp" alt="Red social facebook"
        /></a>

        <a href="https://www.instagram.com" rel="nofollow"
          ><img src="../img/instagram.webp" alt="Red social Instagram"
        /></a>

        <a href="https://twitter.com/" rel="nofollow"
          ><img src="../img/twitter.webp" alt="Red social Twitter"
        /></a>
      </div>
    </footer>
    <!-- Termina Seccion footer  -->

    <script src="../js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
